* {
	outline: 1px solid purple;
}


.mainContent {
	padding-top: 50px;
	min-height: 700px;
}

.finishedMonsterSection {
	min-height: 600px;
}

.monsterFrame{
	min-height:00px;
	margin-top:25px;
	margin-bottom: 25px;
}

.monsterBodiesAndPartsSection {
	min-height: 600px;
	padding-top: 25px;
}



.tab-pane {
	height:480px;
}

canvas {
	padding: 0 !important;
	margin: 0 !important;
}